.menu {
  width: 100%;
  height: 8%;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      width: auto;
      max-height: 80%;
    }

    &__exit {
      width: auto;
      max-height: 50%;
    }
  }
}