.modal {
  width: 40%;
  height: auto;
  background-color: white;
  border-radius: 14px;
  padding: 1rem 1rem;
  position: relative;

  &__container_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 7%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__icon {
      width: 70%;
      height: 70%;
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__divider {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      &__inputs {
        display: flex;
        width: 100%;
        height: 90%;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        &__left {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 0.75rem;

          &__input {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            label {
              margin-left: 10px;
            }

            input {
              border: 4px solid #d9d9d9;
              border-radius: 14px;
              min-height: 25px;
            }
          }
        }

        &__right {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 0.75rem;

          &__input {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            label {
              margin-left: 10px;
            }

            input {
              border: 4px solid #d9d9d9;
              border-radius: 14px;
              min-height: 25px;
            }
          }
        }
      }

      &__actions{
        width: 100%;
        display: flex;
        justify-content: space-between;

        button {
          all: unset;
          cursor: pointer;
          border: 4px solid #d9d9d9;
          border-radius: 14px;
          padding: 0.25rem 0.5rem;
          transition: all 0.3s ease-in-out;
  
          &:hover {
            border-color: #ff0000;
            background-color: #f3f3f3;
            transform: scale(1.05);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
