.modal {
  width: 40%;
  height: 60%;
  background-color: white;
  border-radius: 14px;
  padding: 1rem 1rem;
  position: relative;

  &__container_close{
    position: absolute;
    top:0;
    right: 0;
    width: 7%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__icon {
      width: 70%;
      height: 70%;
    }
  }
}